@mixin FlexForm {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  padding-right: 1.5rem;
  border-color: var(--primary-color);
  border-radius: 10px;

  label {
    font-weight: bold;
  }
  .formControl {
    margin: 0.5rem;
  }
  input {
    width: 100%;
  }
  legend {
    padding: 1rem 2rem 1rem 2rem;
  }
  .myselect {
    border-style: none;
    width: 100%;
    margin-top: 0;
    padding: 0;
  }
}

.flexFormFamilia {
  @include FlexForm;
  margin: 0 2rem 2rem 2rem;

  legend {
    font-size: 1.3rem;
  }

  .formControl:nth-child(2) {
    flex: 1 1 40%;
  }
  .formControl:nth-child(3) {
    flex: 1 1 30%;
  }
  .formControl:nth-child(4) {
    flex: 1 1 20%;
  }
  .formControl:nth-child(5) {
    flex: 1 1 20%;
  }
  .formControl:nth-child(6) {
    flex: 1 1 30%;
  }
  .formControl:nth-child(7) {
    flex: 1 1 20%;
  }
  .formControl:nth-child(8) {
    flex: 0 1 40%;
    align-self: center;
  }
}

.familyMembers {
  border-radius: 10px;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: blue;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.iconDelete {
  width: 1.3rem;
  height: 1.3rem;
  padding: 0.2rem;
  fill: white;
  background-color: red;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
}
.buttonDelete {
  position: absolute;
  right: -5px;
  top: -10px;
}

.familyGroup {
  @include FlexForm;
  legend {
    font-size: 1.3rem;
  }
}
