.firstRow {
  display: flex;
  flex-direction: row;
  flex: 0 1 20%;
  background-color: white;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  flex-wrap: wrap;

  & > * {
    padding: 0.8rem;
    margin: 0.2rem;
  }

  .bgColorAf {
    background-image: linear-gradient(
      to left,
      rgb(66, 204, 96),
      rgb(13, 128, 48)
    );
  }
  .bgColorDes {
    background-image: linear-gradient(
      to left,
      rgb(121, 11, 247),
      rgb(171, 17, 158)
    );
  }

  .amountWorker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.938);
    flex: 1 0 25%;
    border-radius: 10px;

    .textSpan {
      font-size: 1rem;
      // font-family: "Patrick Hand", cursive;
      flex: 1 0;
    }
    .numberSpan {
      font-size: 2rem;
      flex: 1 0;
    }
    .porcentageAf {
      font-size: 1rem;
      padding: 0.2rem;
      margin-right: 0.3rem;
      flex: 1 0;
      border-radius: 20px;
      background-color: rgba(15, 75, 25, 0.7);
    }
    .porcentageDes {
      font-size: 1rem;
      padding: 0.2rem;
      flex: 1 0;
      border-radius: 20px;
      background-color: rgba(50, 9, 78, 0.925);
    }
  }

  .lastWorker {
    display: flex;
    flex: 1 0 45%;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(25, 25, 161, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    color: rgba(255, 255, 255, 0.938);
    flex-direction: row;
    align-items: center;
    border-radius: 10px;

    .icon {
      flex: 1 0 30%;
      width: 4rem;
      height: 4rem;
      fill: rgb(153, 153, 153);
    }
    .column {
      display: flex;
      flex: 1 0 30%;
      flex-direction: column;

      & > * {
        // font-family: "Patrick Hand", cursive;
        font-size: 0.8rem;
        padding: 0.1rem;
        padding-left: 0.5rem;
      }

      .title {
        font-size: 1rem;
      }
    }
    // .name{

    // }
    // .id{

    // }
  }
}

.secondRow {
  display: flex;
  flex-direction: row;
  flex: 0 1 40%;

  background: linear-gradient(
    to right,
    #acc4f0,
    #5cacf1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  align-items: center;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.thirdRow {
  display: flex;
  flex-direction: row;
  flex: 0 1 40%;
  align-items: center;
  background: linear-gradient(
    to right,
    #d3cce3,
    #e9e4f0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
