.container {
  background-image: linear-gradient(
      to right,
      rgba(9, 17, 255, 0.8),
      rgba(9, 165, 255, 0.8)
    ),
    url("../../public/vacasNz.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  padding: 5%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    padding: 5.2%;
  }
  h1 {
    font-family: "Patrick Hand", cursive;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .input {
    margin: 5%;
    label {
      display: flex;
      flex-direction: column;
    }
  }
  a {
    color: blue;
  }
}
