.span {
  font-size: 18px;
  width: 100%;
  padding: 17px;
  background-color: #0072ff38;
}

.myselect {
  border-style: none;
  width: 100%;
  margin-top: 0;
  padding: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  min-width: 80vw;
  flex: 1 0;
  background-color: white;
}

.searchExportParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  .searchBox {
    flex: 1 1 20%;
  }
  .buttonExport {
    flex: 1 1 30%;
  }
}
