$dangerColor: #d82f2f;

.btn {
  padding: 0.7rem;
  border-radius: 5px;
  text-decoration: none;
  border-width: 1px;
  border-color: white;
  font-size: 1rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border-width: 1px;
    border-color: white;
  }
  &:focus {
    outline: none;
  }
}

.btnPrimary {
  background-color: darken($myblue, 25%);
  color: white;
  &:hover {
    background-color: $myblueBoton;
  }
}
.btnDanger {
  background-color: $dangerColor;
  color: white;

  &:hover {
    background-color: lighten($dangerColor, 15%);
  }
}

.btnExploring {
  background-color: rgb(7, 138, 7);
  color: white;

  &:hover {
    background-color: lighten(rgb(7, 138, 7), 15%);
  }
}

.btnTable {
  padding: 0.4rem;
}
