$myblue: rgba(9, 17, 255);
$myblueBoton: #6fa5ff;

.nav {
  width: 98.6vw;
  padding: 0.5rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    font-family: "Patrick Hand", cursive;
    color: white;
    font-size: 22px;

    &:hover {
      text-decoration: none;
      color: darken(white, 15%);
    }
  }

  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      color: white;
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}
