//For both devices //
.sidebar {
  width: 13rem;
}

.nav {
  background-color: var(--primary-color);
}

.show {
  display: flex !important;
}

.hide {
  display: none !important;
}

//////end

/* Pantalla Chica */
@media only screen and (max-width: 849px) {
  .aside {
    display: flex;
    flex-direction: column;
  }
  /* .nav {
    display: none;
  } */
  .ul {
    flex-direction: column;
  }
  .burgerButton {
    align-self: center;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 40px;
    outline: none;
    background-color: var(--primary-color);

    & > .icon2 {
      fill: white;
    }
  }
}

.ul {
  display: flex;
  /* background-color: purple; */
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ul > li {
  width: 100%;
  padding: 1rem;
  &:hover {
    background-color: white;
    cursor: pointer;
    a {
      color: var(--primary-color);
    }
    .icon {
      fill: var(--primary-color);
    }
  }
}

.showExportOptions {
  display: flex;
  flex-direction: column;
}

.hideExportOptions {
  display: none;
}

.subLista {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.subLista > li {
  width: 100%;
  padding: 1rem;
  &:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    a {
      color: white;
    }
    .icon {
      fill: white;
    }
  }
}

.a {
  color: white;
}

.a:hover {
  text-decoration: none;
  color: white;
}

.a:active {
  text-decoration: none;
  color: grey;
}

.LinkContainer {
  display: flex;
  // justify-content: center;
  align-items: center;
}

.icon {
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
  margin-right: 0.5rem;
}

.icon2 {
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--primary-color);
  //
}

/* Pantalla grande */
@media only screen and (min-width: 850px) {
  .aside {
    display: flex;
    flex-direction: row;
    // flex: 0 0 18%;
    flex: 0 1 0;
    min-height: 100vh;
  }
  .burgerButton {
    align-self: flex-start;
    background-color: white;
  }

  .burguerButtonChanged {
    align-self: flex-start;
  }
  // .asideChanged {
  //   min-height: 100vh;
  // }
  .ul {
    flex-direction: column;
  }
}

@media only screen and (min-width: 850px) {
  @keyframes animateButton {
    5% {
      transform: translateX(-5em);
    }
    90% {
      transform: translateX(0em);
    }
    100% {
      transform: translateX(0em);
    }
  }
  .btnNewPropertiesShow {
    transform: translateX(-8.5em);
    animation: animateButton 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  // @keyframes animateButtonHide {
  //   0% {
  //     transform: translateX(0em);
  //   }

  //   100% {
  //     transform: translateX(-8.5em);
  //   }
  // }

  // .btnNewPropertiesHide {
  //   transform: translateX(0em);
  //   animation: animateButtonHide 0.5s;
  //   animation-fill-mode: forwards;
  //   animation-delay: 0.5s;
  //   -webkit-animation-fill-mode: forwards;
  // }
}

// @media only screen and (max-width: 450px) {
//   @keyframes animateButton {
//     from {
//       height: 0%;
//     }
//     to {
//       height: 100%;
//     }
//   }

//   // .btnNewPropertiesShow {
//   //   // width: 100%;
//   //   // height: 0%;
//   //   // animation: animateButton 0s;
//   //   // animation-delay: 0s;
//   //   // animation-fill-mode: forwards;
//   //   // -webkit-animation-fill-mode: forwards;
//   // }
// }
